.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.PaginationWrapper {
  list-style: none;
  display: inline-flex;
  background-color: #0e2235;
  border-radius: 6px;
  padding: 0 20px;
  align-items: center;
}

.PaginationListItem {
  padding: 10px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}
.NextButton {
  margin-left: 10px;
}

.PageItemActive {
  background-color: grey;
  color: black;
  border-radius: 50%;
  padding: 10px;
}
